<ol class="breadcrumb">
  <%= breadcrumb('Dashboard', admin_dashboard_path) %>
  <%= breadcrumb('Surveys', admin_surveys_path) %>
  <%= breadcrumb_active(@survey.title) %>
</ol>

<h1>Survey: <%= @survey.title %></h1>

<%= link_to(
  'Add Confirmable Question',
  new_admin_survey_question_path(
    @survey,
    question: { submittable_type: 'ConfirmSubmittable' }
  ),
  class: 'btn btn-success'
) %>

<%= link_to(
  'Add Multiple Choice Question',
  new_admin_survey_question_path(
    @survey,
    question: { submittable_type: 'MultipleChoiceSubmittable' }
  ),
  class: 'btn btn-success'
) %>
