<ol class="breadcrumb">
  <%= breadcrumb('Dashboard', admin_dashboard_path) %>
  <%= breadcrumb('Clients', admin_clients_path) %>
  <%= breadcrumb_active(@client.username) %>
</ol>

<h1>Client: <%= @client.username %></h1>

<h2>Appointments</h2>
<hr />

<h3>Upcoming</h3>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @future_appointments, future: true } %>

<h3>Past Appointments</h3>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @past_appointments, future: false } %>

<h3>Cancelled Appointments</h3>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @cancelled_appointments, future: false} %>
