<ol class="breadcrumb">
  <%= breadcrumb('Dashboard', admin_dashboard_path) %>
  <%= breadcrumb('Clients', admin_clients_path) %>
  <%= breadcrumb_active(@client.username) %>
</ol>

<h1>Client: <%= @client.username %></h1>

<h1>Appointments</h1>
<hr />

<h2>Upcoming</h2>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @future_appointments, future: true } %>

<h2>Past Appointments</h2>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @past_appointments, future: false } %>

<h2>Cancelled Appointments</h2>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @cancelled_appointments, future: false} %>
