<ol class="breadcrumb">
  <%= breadcrumb('Dashboard', admin_dashboard_path) %>
  <%= breadcrumb_active('Appointments') %>
</ol>

<h1>Appointments</h1>

<%= link_to 'Future Appointments', admin_appointments_future_path, class: 'btn btn-info' %>
<%= link_to 'Past Appointments', admin_appointments_past_path, class: 'btn btn-info' %>
<%= link_to 'Cancelled Appointments', admin_appointments_cancelled_path, class: 'btn btn-info' %>
