<h1>Edit Service Product</h1>

<%= form_for @product do |f| %>
  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="field form-group col-md-4">
      <%= f.label :hours %>
      <%= f.select :hours, (0..8).to_a, {}, { class: 'form-control' } %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :minutes %>
      <%= f.select :minutes, (0..60).select {|n| n % 15 == 0 }, {}, { class: 'form-control' } %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :price %>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.text_field :price, class: 'form-control' %>
        <div class="input-group-addon">.00</div>
      </div>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :preparation_instructions %>
    <%= f.text_area :preparation_instructions, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.submit 'Edit Service Product', class: 'btn btn-warning' %>
  </div>
<% end %>

