<h1>Appointments</h1>

<h2>Upcoming</h2>
<table class="table table-hover future-appointments">
  <thead>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Stylist</th>
    <th>Cancel?</th>
  </thead>
  <tbody>
    <% @future_appointments.each do |appt| %>
      <tr>
        <td><%= appt.start_time %></td>
        <td><%= appt.end_time %></td>
        <td><%= appt.stylist_link %></td>
        <td>
          <%= link_to 'Cancel Appointment',
          appointment_path(appt),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Past Appointments</h2>
<table class="table table-hover past-appointments">
  <thead>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Stylist</th>
  </thead>
  <tbody>
    <% @past_appointments.each do |appt| %>
      <tr>
        <td><%= appt.start_time %></td>
        <td><%= appt.end_time %></td>
        <td><%= appt.stylist_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Cancelled Appointments</h2>
<table class="table table-hover cancelled-appointments">
  <thead>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Stylist</th>
  </thead>
  <tbody>
    <% @cancelled_appointments.each do |appt| %>
      <tr>
        <td><%= appt.start_time %></td>
        <td><%= appt.end_time %></td>
        <td><%= appt.stylist_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
