<h1>Settings</h1>

<div class="well stylist-settings">
  <%= bs_row do%>
    <%= content_tag "div",
      id: "userId",
      data: {id: current_user.id } do %>
    <% end %>

    <%= bs_column(6) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Text Messages?' %><br/>
        <%= check_box_tag '', '1', current_user.receives_texts?, id: 'receiveTexts'%>
      </div>
    <% end %>

    <%= bs_column(6) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Emails?' %><br/>
        <%= check_box_tag '', '1', current_user.receives_email?, id: 'receiveEmails'%>
      </div>
    <% end %>
  <% end %>
</div>

<%= bs_row do %>
  <%= bs_column(6) do %>
    <h2>Edit Registration</h2>
    <%= link_to 'Edit email or password', edit_user_registration_path, class: 'btn btn-success' %>
    <%= form_for @registration do |f| %>
      <%= render "shared/errors", object: f.object %>

      <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/> <br/>
      <span class="btn btn-default btn-file">
        Select Avatar Image<%= f.file_field :avatar, id: 'avatar-upload' %>
      </span>

      <div class="form-group">
        <%= f.label :phone_number, 'Cell Phone' %>
        <%= f.phone_field :phone_number, class: "form-control" %>
      </div>

      <%= f.submit 'Update Registration', class: 'btn btn-warning' %>
    <% end %>
  <% end %>

  <%= bs_column(6) do %>
    <h2>Survey Answers</h2>
    <%= form_for [@completion.survey, @completion] do |f| %>
      <ol>
        <%= f.fields_for :answers, @completion.answers do |fa| %>
          <li>
            <%= fa.label :text, fa.object.question.title %>
            <%= render(
              partial: "admin/#{fa.object.question.submittable.to_partial_path}",
              locals: {
                submittable_object: fa.object.question.submittable,
                submission_fields: fa
              }
            )%>
          </li>
        <% end %>
      </ol>
      <%= f.submit 'Update Survey', class: 'btn btn-warning' %>
    <% end %>
  <% end %>
<% end %>

<h2>Addresses</h2>
<%= render partial: 'addresses/address_table', locals: { addresses: @addresses } %>
<%= link_to 'Add Address', new_user_address_path(current_user), class: 'btn btn-info' %>

