<%= render 'editable_fields', f: f %>

<div class="form-group">
  <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/> <br/>
  <span class="btn btn-default btn-file">
    Upload Avatar Image<%= f.file_field :avatar, id: "avatar-upload" %>
  </span>
  <%= f.hidden_field :avatar_cache %>
</div>

<div class="form-group">
  <%= f.label "Date of birth" %>
  <%= f.date_select :dob, { start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today} %>
</div>

<div class="form-group">
  <%= f.label :gender %>
  <%= f.select :gender, Registration::GENDERS, prompt: 'Please Select' %>
</div>
