<h1>Registration</h1>

<%= form_for @registration, multipart: true do |f| %>
  <%= render "shared/errors", object: f.object %>
  <%= render "registrations/registration_fields", f: f %>

  <h4>Primary Address:</h4>
  <%= fields_for @address do |address| %>
    <%= render "addresses/address_fields", address: address %>
    <%= address.hidden_field :primary, value: true %>
  <% end %>

  <%= f.submit 'Register', class: 'btn btn-success' %>
<% end %>

<%= link_to 'Skip Registration', menu_filters_path, class: 'btn btn-warning pull-right' %>
