<p><%= week_day.start_time.strftime('%A, %m/%d/%y') %></p>

<%= bs_row do %>
  <%= bs_column(4) do %>
    <%= wday.label :active %>
    <div class="form-group">
      <%= wday.check_box :active, value: week_day.active, class: 'weekday-checkbox' %>
    </div>
  <% end %>

  <%= bs_column(4) do %>
    <div class="form-group">
      <%= wday.label :start_time %>
      <div class="input-group">
        <%= wday.text_field :start_time, class: 'form-control start-timepicker' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
  <% end %>

  <%= bs_column(4) do %>
    <div class="form-group">
      <%= wday.label :end_time %>
      <div class="input-group ">
        <%= wday.text_field :end_time, class: 'form-control end-timepicker' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
  <% end %>
<% end %>

<% week_day.time_intervals.appointment_free.each do |interval| %>
  <%= wday.fields_for :time_intervals, interval do |t_interval| %>
    <%= render partial: 'time_interval_fields', locals: { f: t_interval } %>
  <% end %>
<% end %>

<div class="links">
  <%= link_to_add_association 'Add Time Interval', wday, :time_intervals, class: 'btn btn-info' %>
</div>

<%= wday.hidden_field :day_of_week, value: week_day.day_of_week %>
