<h1 id="clientTitle" >Clients</h1>

<div class="form-group">
  <div class="input-group">
    <%= text_field_tag root_path, '',
      placeholder: 'Search...',
      class: 'form-control',
      id: 'clientSearch'
    %>
    <%= hidden_field_tag :stylist_id, @stylist.id, id: 'stylistId' %>
    <div class="input-group-addon">
      <i class="fa fa-search"></i>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <% if @stylist.premium_member? %>
      <th>Birth Date</th>
    <% end %>
  </thead>

  <tbody id="clientResults">
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.username %></td>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.phone_number %></td>
        <% if @stylist.premium_member? %>
          <td><%= client.dob %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


