<tr id=<%= dom_id(client_service_product) %>>
  <%= form_for OrderItem.new do |f| %>
    <td><%= client_service_product.name %></td>
    <td><%= client_service_product.display_price %></td>
    <td><%= client_service_product.duration %></td>
    <td><%= client_service_product.details %></td>
    <td><%= f.number_field :quantity, value: 1, class: 'form-control', min: 1 %></td>
        <%= f.hidden_field :service_product_id, value: client_service_product.id %>
        <%= f.hidden_field :stylist_id, value: @stylist.id %>

    <% if current_user == @stylist %>
      <td><%= f.submit 'Add To Cart', class: 'btn btn-success', disabled: true %></td>
    <% else %>
      <td><%= f.submit 'Add To Cart', class: 'btn btn-success' %></td>
    <% end %>
  <% end %>
</tr>
