<%= bs_row do %>
  <%= bs_column(6) do %>
    <%= image_tag @stylist.avatar_url(:thumb), class: 'img-rounded' %>
    <%= bs_row do %>
      <%= link_to 'Book Appointment',
        new_appointment_path(stylist_id: @stylist.id),
        class: 'btn btn-success btn-block book-appointment' %>
    <% end %>
  <% end %>

  <%= bs_column(6) do %>
    <%= bs_row do %>
      <%= bs_column(12) do %>
        <h2>Bio</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet justo sit amet ligula maximus, rutrum bibendum lacus faucibus. Mauris laoreet efficitur sapien, vitae molestie ex tempor sed. Ut eleifend nulla ut commodo convallis. Donec nec tincidunt eros. Ut aliquam dignissim luctus. Integer id tellus vitae erat varius sodales sit amet semper augue. Morbi faucibus odio at urna rutrum, tristique posuere purus varius. Ut in lorem velit. In pulvinar lacus in nisi iaculis egestas. Fusce eu molestie orci. Sed blandit convallis maximus. Sed tristique ante in odio pharetra, porta tincidunt dui vestibulum. Phasellus id ante porta, aliquet erat eu, efficitur nibh.
        </p>
      <% end %>
      <%= bs_column(12) do %>
        <h2>Rating/Sharing</h2>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= bs_row do %>
  <ul class="nav nav-tabs" role="tablist" id="clientViewTab">
    <li role="presentation" class="active"><a href="#service_products" aria-controls="appointments" role="tab" data-toggle="tab">Service Products</a></li>
    <li role="presentation"><a href="#stylist_comments" aria-controls="schedule" role="tab" data-toggle="tab">Comments</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="service_products">
      <%= bs_column(12) do %>
        <h2>Service Products</h2>
        <table class="table table-hover">
          <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Duration (minutes)</th>
            <th>Details</th>
            <th>Quantity</th>
            <th></th>
          </thead>
          <tbody>
            <%= render partial: 'stylists/service_product', collection: @service_products %>
          </tbody>
        </table>
        <%= paginate @service_products %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="stylist_comments">
      <%= bs_column(12) do %>
        <h1>Stylist Reviews/Comments</h1>
      <% end %>
    </div>
  </div>
<% end %>
