<%= bs_row do %>
  <%= bs_column(6) do %>
    <%= link_to @stylist.avatar_url, data: { lightbox: 'stylist-photos' } do %>
      <%= image_tag @stylist.avatar_url(:thumb), class: 'img-rounded profile-photo' %>
    <% end %>
    <%= gallery('stylist-photos', :micro, *@gallery_photos) %>

    <%= bs_row do %>
      <% if current_order.persisted? %>
        <%= link_to 'Book Appointment',
          new_appointment_path(stylist_id: @stylist.id),
          class: 'btn btn-success btn-block book-appointment' %>
      <% end %>
    <% end %>
  <% end %>

  <%= bs_column(6) do %>
    <%= bs_row do %>
      <%= bs_column(12) do %>
        <h2>Bio</h2>
        <p style="height: 125px;">
          <%= @stylist.bio %>
        </p>
      <% end %>
      <%= bs_column(12) do %>
        <h2>Stylist Rating</h2>
        <div>
        <p><span class="label label-success"><%= @stylist.total_rating %></span></p>
        <p><%= link_to "#{pluralize(@stylist.num_reviews, "review")}", '#stylist_reviews', data: {toggle: "tab"}, id: 'showReviews' %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= bs_row do %>
  <ul class="nav nav-tabs" role="tablist" id="clientViewTab">
    <li role="presentation" class="active" id="sprod">
      <a href="#service_products" aria-controls="appointments" role="tab" data-toggle="tab" >
        Service Products
      </a>
    </li>
    <li role="presentation" id="srev">
      <a href="#stylist_reviews" aria-controls="schedule" role="tab" data-toggle="tab" >
        Reviews
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="service_products">

      <div class="well service-product-quickfind">
        <div class="btn-group text-center" role="group" aria-label="..." style="margin-top: 10px;">
          <% ServiceMenu::MENU_NAMES.each do |menu_name| %>
            <%= link_to menu_name, ("#" + menu_name.downcase.split.join('_')), class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Barber', product_collection: @barber } %>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Hair Cut', product_collection: @hair_cut } %>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Blowout And Sets', product_collection: @blowout_and_sets } %>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Nails', product_collection: @nails } %>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Natural', product_collection: @natural } %>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Makeup', product_collection: @makeup } %>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Specialties', product_collection: @specialties } %>

      <%= render partial: 'stylists/client_service_product_table',
        locals: { product_type: 'Weave', product_collection: @weave } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="stylist_reviews">
      <%= bs_column(12) do %>
        <h1>Stylist Reviews</h1>

        <% if current_user.has_seen_stylist?(@stylist) %>
          <%= form_for @review do |f| %>
            <div class="form-group">
              <%= f.label :rating, "Rate Your Stylist" %>
              <%= f.hidden_field :rating %>
              <div id="rating-container"></div>
            </div>

            <div class="form-group">
              <%= f.label :body, 'Review' %>
              <%= f.text_area :body, class: 'form-control' %>
            </div>

            <%= f.hidden_field :stylist_id, value: @stylist.id %>

            <%= f.submit 'Create Review', class: 'btn btn-success' %>
          <% end %>
        <% else %>
          <p>Must have had appointment with stylist to leave review</p>
        <% end %>

        <ul class="stylist-reviews">
          <%= render partial: 'stylist_reviews/stylist_review', collection: @reviews %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
