<tr id=<%= dom_id(service_product) %>>
  <%= form_for OrderItem.new do |f| %>
    <td><%= service_product.name %></td>
    <td><%= service_product.display_price %></td>
    <td><%= service_product.duration %></td>
    <td><%= service_product.details %></td>
    <td><%= f.number_field :quantity, value: 1, class: 'form-control', min: 1 %></td>
        <%= f.hidden_field :service_product_id, value: service_product.id %>
    <td><%= f.submit 'Add To Cart', class: 'btn btn-success' %></td>
  <% end %>
</tr>
