<h1>Services</h1>

<%= link_to new_service_path, class: 'btn btn-success' do %>
  <i class="fa fa-plus"></i>
  Add Service
<% end %>

<div class="well service-product-quickfind">
  <div class="btn-group" role="group" aria-label="...">
    <% ServiceMenu::MENU_NAMES.each do |menu_name| %>
      <%= link_to menu_name, ("#" + menu_name.downcase.split.join('_')), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Barber', product_collection: @barber } %>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Hair Cut', product_collection: @hair_cut } %>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Blowout And Sets', product_collection: @blowout_and_sets } %>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Nails', product_collection: @nails } %>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Natural', product_collection: @natural } %>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Makeup', product_collection: @makeup } %>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Specialties', product_collection: @specialties } %>

<%= render partial: 'stylists/stylist_service_product_table',
  locals: { product_type: 'Weave', product_collection: @weave } %>
