<h1>Settings</h1>

<div class="well">
  <%= bs_row do%>
    <%= content_tag "div",
      id: "userId",
      data: {id: current_user.id } do %>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Enable Booking?' %><br/>
        <%= check_box_tag '', '1', current_user.active?, id: 'enableBooking'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Multiple Services?' %><br/>
        <%= check_box_tag '', '1', current_user.allow_multiple_services?, id: 'multipleServices'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Text Messages?' %><br/>
        <%= check_box_tag '', '1', current_user.send_booking_text?, id: 'receiveTexts'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Emails?' %><br/>
        <%= check_box_tag '', '1', current_user.send_booking_email?, id: 'receiveEmails'%>
      </div>
    <% end %>
  <% end %>
</div>

<h2>Addresses</h2>
<div class="addresses">
  <table class="table table-hover">
    <thead>
      <th>Type</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th></th>
      <th>Edit</th>
    </thead>
    <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.type %></td>
        <td><%= address.location %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip_code %></td>
        <td><%= address.action_button %></td>
        <td><%= link_to 'Edit', edit_user_address_path(current_user, address), class: 'btn btn-warning'  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Add Address', new_user_address_path(current_user), class: 'btn btn-info' %>
