<h1>Settings</h1>

<div class="well">
  <%= bs_row do%>
    <%= content_tag "div",
      id: "userId",
      data: {id: current_user.id } do %>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Enable Booking?' %><br/>
        <%= check_box_tag '', '1', current_user.active?, id: 'enableBooking'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Multiple Services?' %><br/>
        <%= check_box_tag '', '1', current_user.allow_multiple_services?, id: 'multipleServices'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Text Messages?' %><br/>
        <%= check_box_tag '', '1', current_user.send_booking_text?, id: 'receiveTexts'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Emails?' %><br/>
        <%= check_box_tag '', '1', current_user.send_booking_email?, id: 'receiveEmails'%>
      </div>
    <% end %>
  <% end %>
</div>
