<h1>Settings</h1>

<%= link_to 'Preview Client View',
  client_view_path(@stylist.id),
  class: 'btn btn-info client-preview'
%>

<div class="well stylist-settings">
  <%= bs_row do%>
    <%= content_tag "div",
      id: "userId",
      data: {id: current_user.id } do %>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Enable Booking?' %><br/>
        <%= check_box_tag '', '1', current_user.active?, id: 'enableBooking'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Multiple Services?' %><br/>
        <%= check_box_tag '', '1', current_user.allow_multiple_services?, id: 'multipleServices'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Text Messages?' %><br/>
        <%= check_box_tag '', '1', current_user.receives_texts?, id: 'receiveTexts'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Emails?' %><br/>
        <%= check_box_tag '', '1', current_user.receives_email?, id: 'receiveEmails'%>
      </div>
    <% end %>
  <% end %>
</div>

<h2>Photos</h2>
<%= bs_row do %>
  <%= bs_column(6) do %>
    <%= form_for @stylist.registration do |f| %>
      <span class="btn btn-default btn-file">
        Select Avatar Image<%= f.file_field :avatar %>
      </span>
      <%= f.submit 'Update Avatar', class: 'btn btn-success', id: 'avatar-upload' %>
    <% end %>
  <% end %>

  <%= bs_column(6) do %>
    <p>Add photos to your profile (maximum of 8)</p>
    <%= form_for StylistPhoto.new do |f| %>
      <span class="btn btn-default btn-file">
        Gallery Photos<%= f.file_field :image %>
      </span>

      <div class="form-group">
        <%= f.label 'Image Description' %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <%= f.submit 'Add Photo', class: 'btn btn-success' %>
    <% end %>
  <% end %>
<% end %>

<h2>Personal Info</h2>
<%= bs_row do %>
  <%= bs_column(4) do %>
    <%= form_for @stylist.registration do |f| %>
      <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio, class: 'form-control', rows: 7 %>
      </div>

      <%= f.submit 'Update Bio', class: 'btn btn-warning' %>
    <% end %>
  <% end %>
<% end %>

<h2>Addresses</h2>
<%= render partial: 'addresses/address_table', locals: { addresses: @addresses } %>
<%= link_to 'Add Address', new_user_address_path(current_user), class: 'btn btn-info' %>

