<h1><%= @stylist.username %>'s profile</h1>

<% if current_user == @stylist %>
  <div class="row" style="margin-bottom: 20px;">
    <%= bs_column(6) do %>
      <%= link_to @stylist.avatar_url, data: { lightbox: 'stylist-photos' } do %>
        <%= image_tag @stylist.avatar_url(:thumb), class: 'img-rounded profile-photo' %>
      <% end %>
      <%= gallery('stylist-photos', :micro, *@gallery_photos) %>
    <% end %>

    <%= bs_column(6) do %>
      <h2>Bio</h2>
      <p><%= @stylist.bio %></p>
    <% end %>
  </div>

  <%= bs_row do %>
    <%= bs_column(12) do %>
        <ul class="nav nav-tabs" role="tablist" id="stylistTab">
          <li role="presentation" class="active"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
          <li role="presentation"><a href="#appointments" aria-controls="appointments" role="tab" data-toggle="tab">Appointments</a></li>
          <li role="presentation"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
          <li role="presentation"><a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">Clients</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="appointments">
            <%= render 'stylists/appointments' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="schedule">
            <%= render 'stylists/schedule' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="clients">
            <%= render 'stylists/clients' %>
          </div>
          <div role="tabpanel" class="tab-pane active" id="services">
            <%= render 'stylists/services' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <%= render 'stylists/settings' %>
          </div>
        </div>
      <% end %>
    <% end %>
<% else %>
  <%= render 'stylists/client_view' %>
<% end %>
