<%= form_for question, as: :question, url: url do |form| -%>
  <%= render "shared/errors", object: form.object %>

  <div class="form-group">
    <%= form.hidden_field :submittable_type %>

    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <%= render(
    "admin/#{question.submittable.to_partial_path}_form",
    submittable: question.submittable,
    form: form
  ) %>

  <%= form.submit 'Add Question', class: 'btn btn-success' %>
<% end -%>
