<div class="questionnaire-container">
  <% @questions.each_with_index do |question, i| %>
    <% binding.pry if i == @answers[i].nil? %>
  <!-- set urls for form action -->
    <% update_url = @answers[i].nil? ? '' : user_answer_path(current_user, @answers[i]) %>
    <% create_url = user_answers_path %>
    <% answer_exists = !@answers[i].nil? %>
    <% url = answer_exists ? update_url : create_url %>



  <!-- set question type -->
    <% if current_user && current_user.role == 'client' %>
        <% question = question.client_question %>
      <% elsif current_user && current_user.role == 'stylist' %>
        <% question = question.stylist_question %>
      <% end %>

    <%= form_for @answers[i], :url => url do |f| %>
      <li>Stylist question: <%= question %></li>

      <% if @answers[i].id %>
        <%= f.label :answer, 'yes' %>
        <%= f.radio_button :answer, true, class: "answerInput answer#{i}", checked: @answers[i].answer == true %>
        <%= f.label :answer, 'no' %>
        <%= f.radio_button :answer, false, class: "answerInput answer#{i}", checked: @answers[i].answer == false %>
      <% else %>
        <%= f.label :answer, 'yes' %>
        <%= f.radio_button :answer, true, class: "answerInput answer#{i}" %>
        <%= f.label :answer, 'no' %>
        <%= f.radio_button :answer, false, class: "answerInput answer#{i}" %>
      <% end %>

      <input type="hidden" value=<%= @questions[i].id %> name="answer[question_id]", class="questionId">

      <input type="hidden" value=<%= current_user.id %> name="answer[user_id]"
        class="userId">
      <input type="hidden" value=<%= current_user.role %> name="answer[user_type]", class="userType">

      <%= f.submit %>
    <% end %>
  <% end %>
  <% if @questionnaire_complete %>
    <input type="submit" value="Next" class="btn btn-success" id="completeRegistrationButton">
  <% else %>
    <input type="submit" value="Next" style="display: none" class="btn btn-success" id="completeRegistrationButton">
  <% end %>
</div>
