<%= form_for [@survey, @completion] do |f| -%>
  <ol>
    <% @questions.each do |question| -%>
      <li>
        <%= f.fields_for "answers_attributes[#{question.id}]", Answer.new do |submission_fields| -%>
          <div class="form-group">
            <%= submission_fields.label :text, question.title %>
            <%= render(
              partial: "admin/#{question.submittable.to_partial_path}",
              locals: {
                submittable_object: question.submittable,
                submission_fields: submission_fields
              }
            ) %>
          </div>
        <% end -%>
      </li>
    <% end -%>
  </ol>
  <%= f.submit 'Submit Answers' %>
<% end -%>
