<ol class="breadcrumb">
  <%= breadcrumb('Dashboard', admin_dashboard_path) %>
  <%= breadcrumb('Stylists', admin_stylists_path) %>
  <%= breadcrumb_active(@stylist.username) %>
</ol>

<%= bs_row do %>
  <%= bs_column(6) do %>
    <h1>
      Stylist: <%= @stylist.username %>
      <% if @stylist.banned? %>
        <span class="label label-danger">Banned</span>
      <% end %>
    </h1>
  <% end %>
  <%= bs_column(6) do %>
    <%= render partial: 'admin/shared/ban_button', locals: { user: @stylist } %>
  <% end %>
<% end %>

<h2>Settings</h2>
<div class="well">
  <%= bs_row do%>
    <%= content_tag "div",
      id: "userId",
      data: {id: @stylist.id } do %>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Enable Booking' %><br/>
        <%= check_box_tag '', '1', @stylist.active?, id: 'enableBooking'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Allow Multiple Services To Be Booked' %><br/>
        <%= check_box_tag '', '1', @stylist.allow_multiple_services?, id: 'multipleServices'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Text Messages' %><br/>
        <%= check_box_tag '', '1', @stylist.send_booking_text?, id: 'receiveTexts'%>
      </div>
    <% end %>

    <%= bs_column(3) do %>
      <div class="form-group text-center">
        <%= label_tag 'Receive Emails' %><br/>
        <%= check_box_tag '', '1', @stylist.receives_email?, id: 'receiveEmails'%>
      </div>
    <% end %>
  <% end %>
</div>

<h2>Appointments</h2>
<hr />

<h3>Upcoming</h3>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @future_appointments, future: true } %>

<h3>Past Appointments</h3>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @past_appointments, future: false } %>

<h3>Cancelled Appointments</h3>
<%= render partial: 'admin/shared/appointment_table',
  locals: { appointments: @cancelled_appointments, future: false } %>
