<h1>Admin Dashboard</h1>

<%= bs_row do %>
  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>Clients</h3>
      <%= link_to admin_clients_path, class: 'btn btn-info' do %>
        <i class="fa fa-users fa-3x"></i>
      <% end %>
    </div>
  <% end %>

  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>Stylists</h3>
      <%= link_to  admin_stylists_path, class: 'btn btn-info' do %>
        <i class="fa fa-user fa-3x"></i>
      <% end %>
    </div>
  <% end %>

  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>Appointments</h3>
      <%= link_to  admin_appointments_path, class: 'btn btn-info' do %>
        <i class="fa fa-calendar fa-3x"></i>
      <% end %>
    </div>
  <% end %>

  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>Settings</h3>
      <%= link_to admin_settings_path, class: 'btn btn-info' do %>
        <i class="fa fa-cog fa-3x"></i>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= bs_row do %>
  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>View Surveys</h3>
      <%= link_to admin_surveys_path, class: 'btn btn-info' do %>
        <i class="fa fa-envelope fa-3x"></i>
      <% end %>
    </div>
  <% end %>

  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>New Surveys</h3>
      <%= link_to new_admin_survey_path, class: 'btn btn-info' do %>
        <i class="fa fa-plus fa-3x"></i>
      <% end %>
    </div>
  <% end %>

  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>Stripe Info</h3>
      <%= link_to 'https://www.stripe.com', class: 'btn btn-info' do %>
        <i class="fa fa-cc-stripe fa-3x"></i>
      <% end %>
    </div>
  <% end %>

  <%= bs_column(3) do %>
    <div class="text-center">
      <h3>Product Searches</h3>
      <%= link_to admin_product_searches_path, class: 'btn btn-info' do %>
        <i class="fa fa-search fa-3x"></i>
      <% end %>
    </div>
  <% end %>
<% end %>
