<table class="table table-hover">
  <thead>
    <th>Appt ID</th>
    <th>Client ID</th>
    <th>Stylist ID</th>
    <th>Order ID</th>
    <th>Service Products</th>
    <th>Total Time</th>
    <th>Total Price</th>
    <% if future %>
      <th>Cancel</th>
    <% end %>
  </thead>
  <tbody>
    <% appointments.each do |appt| %>
      <tr>
        <td><%= appt.id %></td>
        <td><%= appt.client.id %></td>
        <td><%= appt.stylist.id %></td>
        <td><%= appt.order.id %></td>
        <td><%= appt.product_names %></td>
        <td><%= appt.total_time %></td>
        <td><%= number_to_currency(appt.order_total) %></td>
        <% if future %>
          <td>
            <%= link_to 'Cancel Appointment',
              appointment_path(appt),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger'
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
