<table class="table table-hover">
  <thead>
    <th>Appt ID</th>
    <th>Client ID</th>
    <th>Stylist ID</th>
    <th>Order ID</th>
    <th>Service Products</th>
    <th>Total Time</th>
    <th>Total Price</th>
  </thead>
  <tbody>
    <% appointments.each do |appt| %>
      <tr>
        <td><%= appt.id %></td>
        <td><%= appt.client.id %></td>
        <td><%= appt.stylist.id %></td>
        <td><%= appt.order.id %></td>
        <td><%= appt.product_names %></td>
        <td><%= appt.total_time %></td>
        <td><%= number_to_currency(appt.order_total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
