<tr>
  <td><%= image_tag product.avatar(:micro), class: "" %></td>
  <td><%= product.stylist_link %></td>
  <td><%= product.stylist_availability %></td>
  <td><%= product.stylist_rating %></td>
  <td><%= product.minute_duration.to_s + ' mins'%></td>
  <td><%= product.name %></td>
  <td><%= number_to_currency(product.price) %></td>
  <td><%= product.details %></td>
</tr>
