<h1>Find Appointment For <%= @service_menu.name %></h1>

<%= form_tag menu_filter_appointments_path(@service_menu), method: :get do %>
  <div class="form-group">
    <%= label_tag :keyword %>
    <%= text_field_tag :query, params[:query], id: "product-search", class: 'form-control' %>
  </div>

  <div class="form-group">
    <input type="text" class="appt-cost-slider" value="" data-slider-min="20" data-slider-max="150" data-slider-step="5" data-slider-value="[30, 70]" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="">
  </div>
  <%= submit_tag "Search", name: nil, class: 'btn btn-success' %>
<% end %>

<% if @service_products %>
  <h1>Results</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Details</th>
        <th>Prep Instructions</th>
      </tr>
    </thead>

    <tbody>
      <% @service_products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.minute_duration %></td>
          <td><%= product.price %></td>
          <td><%= product.details %></td>
          <td><%= product.preparation_instructions %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @service_products %>
<% end %>
