<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Mona</a>
    </div>

    <%= form_tag users_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
      <div class="form-group">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search..." %>
        <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
      </div>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <%- if current_user.authenticated? -%>
        <li>
          <%# Some weird reason my browser won't regonize method delete with a tags %>
          <%# I started using button but that seems broken, going to find solution %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
        <li> <%= link_to 'Stylists', users_path %></li>
        <li> <%= link_to 'Profile', current_user.profile_path %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </div>
</nav>
