<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title || "Mona" %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body class="<%= body_class %>">
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
