<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title || "Mona" %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>

    <div class="container">
      <%= yield %>
    </div>

  <% if current_user %>
    <%= link_to 'Add Questionnaire', new_questionnaire_path %>
    <%= link_to 'View Questionnaires',
    questionnaires_path %>
  <% end %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
